<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
</head>
<body>
    <h1 >Add Todo <%= id %></h1>
    <form action="/todo/<%= id %>?_method=PUT" method="post">
        <input type="text" id="todo_input" placeholder="todo" name="todo"/>
        <button type="submit" id="submit">Submit</submit>
    </form>
</body>
</html>